[submodule "linux-xlnx"]
	path = linux-xlnx
	url = https://github.com/ATS-INTC/linux-xlnx.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/ATS-INTC/buildroot.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/ATS-INTC/opensbi.git
